:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    font-family: "Krub", system-ui;

}


html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
}

/* Se aplica desde 0px */ 

body{
    background-color: bisque;
}


/* Recomendado 
480px mol
768px tablet
*/



/* Tittle */



.Tittle {

    text-align: center;
    font-size: 3.8rem;

}


.Tittle span{
    font-size: 2rem;
}

/* Navbar */

.nav-principal{
    background-color: var(--secundario);
    display: flex;
    padding: 1rem;
    justify-content: center; /* Cambiado a 'center' */
    font-weight: bold;
    font-size: 2rem;
    flex-direction: column;
    align-items: center; /* Cambiado a 'center' */
}


@media (min-width: 768px){

    .nav-principal{
        flex-direction: row;
        justify-content: center;
    }
 }


.nav-principal a:hover{
    background-color: var(--primario);
    color: black;
    padding: 1rem;

}

.nav-bg{
    background-color: var(--secundario);
}

.nav-principal a{
    color: var(--blanco);
    text-decoration: none;
    padding: 1rem;
    
}

.container{
    max-width: 120rem; /* 1200px*/
    margin: 0 auto;

}

